<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Assignment 4 : Meghna R Holla | B00812604
        </title>
        <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
    </head>
    <body onload="getData()">
        <select id="data_options" onchange="getData()">
            <option value="0">Iris</option>
            <option value="1">Winequality-red</option>
            <option value="2">Winequality-white</option>
        </select>
    </body>
</html>